.location__container{
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.location__form{
  position: absolute;
  z-index: 10;
  left: 20px;
  top: 290px;
  display: flex;
  flex-direction: column;
  padding: 48px 35px 66px 42px;
  background-color: $dblue;
  border-radius: 5px;
  width: 540px;
}

.location__form-heading{
  margin-top: 0;
  margin-bottom: 29px;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  color: #fff;
}

.location__input{
  width: 100%;
  border: 1px solid #fff;
  background-color: $dblue;
  border-radius: 5px;
  padding: 20px 15px;
  margin-bottom: 12px;
  outline: 0;

  &:focus{
    background-color: #fff;
    border: 1px solid $dblue;
  }
}

.location__btn{
  width: 230px;
  padding: 17px 63px;
  border: 0;
  border-radius: 5px;
  background-color: $yellow;
  cursor: pointer;
  margin-bottom: 22px;

  &:hover{
    opacity: 0.8;
  }

  &:active{
    opacity: 0.6;
  }
}

.location__label{
  display: flex;
  align-items: center;
}

.location__checkbox-text{
  max-width: 256px;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  margin-right: auto;
  cursor: pointer;
}

.location__checking{
  width: 35px;
  height: 35px;
  display: block;
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
}

.location__checkbox:focus ~ .location__checking{
  box-shadow: 0 0 0 2px greenyellow ;
}
.location__checkbox:checked ~ .location__checking{
  background-image: url("../optimized-imgs/check.svg");
  background-size: contain 21px 16px;
  background-position: center;
  background-repeat: no-repeat;
}

.location__content-box{
  max-width: 879px;
  text-align: center;
  background-image: url("../optimized-imgs/text-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 275px 152px;
}
.location__content-box::before{
  content: "";
  width: 50px;
  height: 0;
  margin-right: auto;
  margin-left: auto;
  background-color: $yellow;
  border: 3px solid $yellow;
  display: block;
  margin-bottom: 15px;
}

.location__heading{
  margin-top: 0;
  margin-bottom: 13px;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  color: $dark;
}

.location__text{
  margin-top: 0;
  margin-bottom: 27px;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  color: $light;
}

.location__map-link {
  display: inline-block;
  margin-left: calc(50% - 950px);
}

.location__map-img {
  display: block;
  object-fit: cover;
}

@media only screen and (max-width: 1025px){

  .location__container{
    padding: 0;
  }

  .location__heading{
    padding-right: 7px;
    padding-left: 7px;
    margin-bottom: 16px;
  }

  .location__text{
    padding-right: 36px;
    padding-left: 36px;
  }

  .location__map-link{
    margin-left: 0;
  }

  .location__map-img{
    object-position: -570px;
  }
}

@media only screen and (max-width: 667px){

  .location__form{
    position: static;
    width: 100%;
  }

  .location__content-box::before{
    margin-top: 83px;
  }

  .location__map-img{
    object-position: -1100px;
  }
}

@media only screen and (max-width: 376px){

  .location__map-img{
    object-position: -1200px;
  }

  .location__form{
    padding: 48px 24px 53px;
  }

  .location__btn{
    width: 100%;
  }

  .location__checkbox-text{
    width: 100%;
    font-size: 15px;
    line-height: 18px;
    margin-right: 13px;
  }
}



@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

  .location__content-box{
    background-image: url("../optimized-imgs/text-bg@2x.png");
  }
}